#contact .contact-form {
    align-items: center;
    justify-content: center;
    margin: 10% 30% 0;
}

.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.confirmation-text {
    text-align: center;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.error-text {
    text-align: center;
}

@media screen and (max-width: 1040px) {
    #contact .contact-form {
        align-items: center;
        justify-content: center;
        margin: 10% 20% 20%;
    }
}

@media screen and (max-width: 768px) {
    #contact .contact-form {
        align-items: center;
        justify-content: center;
        margin: 11% 10% 10%;
    }
}