/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    background-color: #050505;
}

header {
    background-color: rebeccapurple;
    color: #fff;
    padding: 1rem;
    max-width: 100%;
    left: 0;
    position: fixed;
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        text-align: center;
        align-content: center;
    }
}

nav ul {
    display: flex;
    list-style-type: none;
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
    nav ul {
        justify-content: center;
    }
    nav ul li {
        margin-right: 0;
        display: inline-block;
        margin-left: 0;
        padding: 0;
    }
    button {
        padding: 0;
    }
}

section {
    min-height: 100vh;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Content styles */
section > * {
    max-width: 1200px;
    margin: 0;
    background-color: #2a2b2f;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 5%;
}

.image-container {
    flex: 0 0 50%;
    max-width: 50%;
    max-height: 100%;
    position: relative;
}

.image-placeholder { /* TODO - Delete later */
    width: 100%;
    padding-bottom: 100%; /* This maintains the aspect ratio of 3024 x 4032 */
    position: relative;
}

.portfolio-image {
    width: 100%;
    height: auto;
}

.about-cutoff {
    width: 100%;
    padding-bottom: 5%;
    background-color: #ffffff;
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 33.33%; /* Positions the overlay about two-thirds down */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black overlay */
    color: white;
    text-align: center;
}

.text-container {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 1em;
    background-color: #efefef;
    color: #1a1a1a;
}

.about-me {
    width: 100%;
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    position: relative;
    padding: 2%;
}

.about-story {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }

    .image-container,
    .text-container {
        max-width: 100%;
    }
}

.row-grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: #ffffff;
}

/* Create four equal columns that sits next to each other */
.column-grid {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.experience-section {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 5%;
}

#timeline ul {
    padding: 50px 0;
}

#timeline ul li {
    list-style: none;
    position: relative;
    width: 7px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: rebeccapurple;
}

#timeline ul li .box {
    position: relative;
    bottom: 0;
    width: 450px;
    background-color: #1a1a1a;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 5px;
}

#timeline .title {
    /*box-shadow: 0 5px 10px black;*/
    padding: 1rem 0rem 1rem 0.7rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 1.3rem;
    background-color: rebeccapurple;
}

#timeline .year {
    background-color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    color: aqua;
    font-size:0.9rem;
    margin: 0 0.5rem;
}

#timeline p {
    padding: 1rem 0 1rem 1rem;
}

#timeline button {
    margin: 0.5rem 0 1rem 1rem;
    outline: none;
    border: 1px solid grey;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background: transparent;
    transition: all 0.3s ease-in;
    cursor: pointer
}

#timeline button:hover {
    background-color: #1a1a1a;
    color: white;
}

#timeline ul li:nth-child(odd) .box {
    left: 50px
}

#timeline ul li:nth-child(even) .box {
    right: 500px
}

#timeline ul li i {
    position: absolute;
    left: 50%;
    top: 0;
    width: 45px;
    height: 45px;
    background: #1a1a1a;
    transform: translateX(-50%);
    border-radius: 50%;
}

#timeline .experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: aqua;
}

#timeline .box:before {
    content: "";
    position: absolute;
    top: 5px;
    width: 0;
    right: 0;
    border-style: solid;
}

#timeline ul li:nth-child(odd) .box:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent aqua;
}

#timeline ul li:nth-child(even) .box:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent aqua;
}

@media (max-width: 1050px) {
    #timeline ul li .box {
        width: 320px;
    }

    #timeline ul li:nth-child(even) .box {
        left: -370px
    }
}

@media (max-width: 768px) {
    .experience-section {
        align-items: flex-start;
        width: 80px;
    }

    #timeline ul li .box {
        width: 380px;
    }

    #timeline ul li:nth-child(even) .box:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent aqua;
    }

    #timeline ul li:nth-child(odd) .box {
        left: 40px;
    }

    #timeline ul li:nth-child(even) .box {
        left: 40px;
    }

}