/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --purple: rebeccapurple;
    --aqua: aqua;
    --white: white;
    --black: black;
    --off-white: #efefef;
    --text-container-colour: rgb(23, 23, 23);
    --background: #2a2b2f;
    --above-background: rgba(240, 240, 240, 0.2);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    background-color: var(--background);
    overflow-x: hidden;
}

header {
    background-color: var(--purple);
    color: var(--white);
    padding: 1rem;
    max-width: 100%;
    left: 0;
    position: fixed;
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        max-width: 100%;
        display: inline-block;
        text-align: center;
        align-content: center;
    }
}

nav ul {
    display: flex;
    list-style-type: none;
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
    nav ul {
        justify-content: center;
    }
    nav ul li {
        margin-right: 0;
        display: inline-block;
        margin-left: 0;
        padding: 0;
    }
    button {
        padding: 0;
    }
}

section {
    min-height: 100vh;
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--background);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

/* Content styles */
section > * {
    max-width: 100%;
    margin: 0;
    background-color: transparent;
    padding-bottom: 30px;
}

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-text {
    padding-top: 25vh;
    text-align: center;
}

.tagline {
    text-align: center;
    padding-top: 50px;
    max-width: 400px;
}

.language-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

.language-container {
    width: 150px;
    height: 150px;
    background-color: var(--above-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-image {
    width: 80%;
    height: auto;
}

.language-image.typescript {
    background-color: black;
}

@media (min-width: 300px) {
    .language-grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 900px) {
    .language-grid { grid-template-columns: repeat(4, 1fr); }
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 5%;
}

.image-container {
    flex: 0 0 50%;
    max-width: 50%;
    max-height: 200%;
    position: relative;
    background-color: var(--white);
}

.image-placeholder { /* TODO - Delete later */
    width: 100%;
    padding-bottom: 100%; /* This maintains the aspect ratio of 3024 x 4032 */
    position: relative;
}

.portfolio-image {
    height: 200%;
}

.about-cutoff {
    width: 100%;
    padding-bottom: 5%;
    background-color: var(--white);
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 33.33%; /* Positions the overlay about two-thirds down */
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black overlay */
    color: var(--white);
    text-align: center;
}

.text-container {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 1em;
    background-color: var(--off-white);
    color: var(--text-container-colour);
}

.about-me {
    width: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--purple);
    position: relative;
    padding: 2%;
}

.about-story {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Media queries for responsive layout */
@media (max-width: 768px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }

    .image-container,
    .text-container {
        max-width: 100%;
    }
}

.row-grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: var(--white);
}

/* Create four equal columns that sits next to each other */
.column-grid {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.header {
    background-color: var(--purple);
    text-align: center;
    font-size: 3rem;
    width: 100%;
    margin: 0;
}

.experience-section {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 5%;
}

.experience-container {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 5%;
}

#timeline ul {
    padding: 50px 0;
}

#timeline ul .bottom {
    padding: 0;
}

#timeline ul li {
    list-style: none;
    position: relative;
    width: 7px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: var(--purple);
}

#timeline ul li .box {
    position: relative;
    bottom: 0;
    width: 450px;
    background-color: var(--text-container-colour);
    box-shadow: 0 0 5px var(--white);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
}

#timeline ul li:nth-child(odd) .box {
    left: 50px;
    transform: translateX(400%);
}

#timeline ul li:nth-child(even) .box {
    right: 500px;
    transform: translateX(-400%);
}

#timeline ul li .box.show {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

#timeline .title {
    /*box-shadow: 0 5px 10px black;*/
    padding: 1rem 0 1rem 0.7rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: var(--white);
    font-size: 1.3rem;
    background-color: var(--purple);
}

#timeline .year {
    background-color: var(--aqua);
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    color: var(--black);
    font-size:0.9rem;
    margin: 0 0.5rem;
}

#timeline .description-box {
    height: 200px;
    overflow: hidden;
    line-height: 1.5;
    padding: 10px 0;
    position: relative;
}

#timeline .description-box.active {
    height: auto;
    padding-bottom: 0;
}

#timeline p {
    padding: 1rem 0 1rem 1rem;
    overflow: auto;
}

#timeline button {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0;
    border: none;
    font-weight: bold;
    background-color: var(--purple);
    padding: 20px 0;
}

#timeline .button_front {
    position: absolute;
    right: 50px;
    left: 50px;
    bottom: 8px;
    border-radius: 90px;
    border: 2px solid var(--purple);
    font-weight: bold;
}

#timeline button:hover {
    color: var(--aqua);
}

#timeline button:after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    bottom: 0;
    height: 80px;
    /*background: linear-gradient(180deg, #1a1a1a, #6e8ba2, aqua);*/
    z-index: -1;
}

#timeline .active_button {
    position: unset;
    width: 100%;
}

#timeline .active_button:after {
    background: transparent;
}

#timeline ul li i {
    position: absolute;
    left: 50%;
    top: 0;
    width: 45px;
    height: 45px;
    background: var(--text-container-colour);
    transform: translateX(-50%);
    border-radius: 50%;
}

#timeline .experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--aqua);
}

#timeline .box:before {
    content: "";
    position: absolute;
    top: 75px;
    width: 0;
    right: 0;
    border-style: solid;
}

#timeline ul li:nth-child(odd) .box:before {
    border-color: transparent;
}

#timeline ul li:nth-child(even) .box:before {

    border-color: transparent;
}

@media (max-width: 1040px) {
    #timeline ul li .box {
        width: 320px;
    }

    /* TODO - Find a way to make shrinking transition more seamless */
    #timeline ul li:nth-child(even) .box {
        left: -370px
    }
}

@media (max-width: 768px) {

    .experience-container {
        align-items: flex-start;
        width: 80px;
    }


    #timeline ul li .box {
        width: 380px;
    }

    #timeline ul li:nth-child(even) .box:before {
        left: -15px;
        border-color: transparent var(--aqua);
    }

    #timeline ul li:nth-child(odd) .box {
        left: 40px;
    }

    #timeline ul li:nth-child(even) .box {
        left: 40px;
    }
}

#projects .projects-grid {
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#projects .row-grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    background-color: transparent;
}

/* Create four equal columns that sits next to each other */
#projects .column-grid {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#projects .column-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    #projects .column-grid {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #projects .column-grid {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#contact .contact-form {
    align-items: center;
    justify-content: center;
    margin: 10% 30% 0;
}

.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.confirmation-text {
    text-align: center;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.error-text {
    text-align: center;
}

@media screen and (max-width: 1040px) {
    #contact .contact-form {
        align-items: center;
        justify-content: center;
        margin: 10% 20% 20%;
    }
}

@media screen and (max-width: 768px) {
    #contact .contact-form {
        align-items: center;
        justify-content: center;
        margin: 10% 10% 10%;
    }
}